<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs") %>

<body>
  <%- include ("../partials/header.ejs") %>
  <main>
    <form class="product-edit" method="POST" action="/products/db/<%= data.id %> ?_method=PUT">
      <input type="hidden" name="categoryID" value=<%- data.category_id %>>>
      <label for="productName">Cambiar nombre: </label>
      <input type="text" name="productName" id="productName" value="<%- data.name %> ">
      <textarea name="productDescription" id="productDescription" cols="30" rows="10"><%- data.description %> </textarea>
      <label for="productImage">Cambiar imagen</label>
      <input type="file" name="productImage" id="productImage">
      <div class="product-type">

        <h3>Estado: </h3>
        <div class="product-state">
          <label for="productState"><input type="radio" name="productState" value= 1 <% if (data.categoria.state == 1) { %> checked="checked" <% } %>> Nuevo</label>

          <label for="productState"><input type="radio" name="productState" value= 0 <% if (data.categoria.state == 0) { %> checked="checked" <% } %>> Usado</label>
        </div>
        <h3>Otros datos: </h3>
        <div class="product-category">
          <label for="productClass"><input type="radio" name="productClass" value="clothes" <% if (data.categoria.class == "clothes") { %> checked="checked" <% } %>> Ropa</label>
          <label for="productClass"><input type="radio" name="productClass" value="shoes" <% if (data.categoria.class == "shoes") { %> checked="checked" <% } %>> Calzado</label>
        </div>
        <div class="product-category">
          <label for="productsubClass"><input type="radio" name="productSubClass" value="sports" <% if (data.categoria.subclass == "sports") { %> checked="checked" <% } %>> Deportiva</label>
          <label for="productsubClass"><input type="radio" name="productSubClass" value="casual" <% if (data.categoria.subclass == "casual") { %> checked="checked" <% } %>> Casual</label>
        </div>
        <div class="product-category">
          <label for="productAgeGroup"><input type="radio" name="productAgeGroup" value="adult" <% if (data.categoria.age_group == "adult") { %> checked="checked" <% } %>> Adultos</label>
          <label for="productAgeGroup"><input type="radio" name="productAgeGroup" value="children" <% if (data.categoria.age_group == "children") { %> checked="checked" <% } %>> Niños</label>
        </div>
        <label for="productSize">Talle</label>

        <input type="text" name="productSize" value=<%- data.categoria.size %>>


        <label for="productColor">Color</label>
        <input type="text" name="productColor" value=<%- data.categoria.color %>>
        <label for="productStock"><input type="number" name="productStock" value=<%= data.categoria.stock %>> Stock disponible </label>
      </div>
      </div>
      <div class="price">
        <label for="productPrice">Precio</label>
        <input type="number" min="0.01" step="0.01" max="25000" name="productPrice" id="productPrice" value=<%- data.price %>>
      </div>
      <button class="btn" type="submit">Actualizar producto</button>
    </form>
    <form action="/products/db/<%- data.id %>?_method=DELETE" method="post"><button class="btn dlt" type="submit">Eliminar producto</button></form>
  </main>
  <%- include ("../partials/footer.ejs") %>
</body>

</html>