<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs") %>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <section class="detailed-product">
      <article>
        <div class="product-image">
          <img src="/images/products/<%= data.image %> " alt="Imagen del producto">
        </div>
        <div class="product-detail">
          <h3 class="product-name"><%- data.name %> </h3>
          <% if (data.type == 1) { %>
          <p>Nuevo</p>
          <% } else { %>
          <p>Usado</p>
          <% } %>
          <h4> Precio unitario: <%- data.price %> </h4>
          <div class="seller-info">
            <h3>Información del vendedor</h3>
            <p>Nombre: <%= data.vendedor.name %> <%= data.vendedor.last_name %>  </p>
          </div>

          <form action="/products/db/<%= data.id %>" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="price" id="price" value=<%= data.price %>>
            <input type="hidden" name="name" id="name" value=<%= data.name %>>
            <input type="hidden" name="discount" id="discount" value=<%= data.discount %>>
            <input type="hidden" name="id" id="id" value=<%= data.id %>>

            <h4>Disponibles: <%- data.categoria.stock %> </h4>
            <select name="product-amount" id="product-amount">
              <option value="">Selecciona Cantidad</option>
              <% for (let i = 1; i <= data.categoria.stock; i++) { %>
              <option value=<%= i %>> <%= i %> </option>
              <% } %>
            </select>
            <% if (locals.isLogged && locals.currentUser.id == data.seller_id) { %>
            <a class="btn" href="/products/db/<%= data.id %>/edit "> Editar/eliminar producto</a>
            <% } else {%>
            <div>
              <button class="btn" type="submit">Agregar a carrito</button>
              <input class="btn" type="button" value="Compra rápida">
            </div>
            <% } %>
          </form>
        </div>
      </article>
      <div class="product-details">
        <h3>Detalles del producto </h3>
      <div class="product-description">
        <p> <%- data.description %> </p>
      </div>
    </div>
    </section>

    
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>