<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs") %>

<body>
  <%- include("./partials/header.ejs") %>
  <main>
    <section class="products">
      <h3>Para vos</h3>
      <div class="product-container flex-row">
        
        <% for( let i = 0; i < limite ; i++ ) { %>
        <article>
          <a href="/products/db/<%= productData[i].id %> ">
            <img src="/images/products/<%= productData[i].image %> " alt="Imagen de <%= productData[i].name %> ">
            <div class="product-card">
              <div class="flex-row">
                <p class="price"> $<%= productData[i].price %> </p>
                <p class="discount"><%= productData[i].discount? productData[i].discount + " off" : " " %> </p>
              </div>
              <h3 class="description"><%= productData[i].name %></h3>
            </div>

          </a>
        </article>
        <% } %>
      </div>
    </section>
  </main>
  <%- include("./partials/footer.ejs") %>
</body>

</html>