   <!DOCTYPE html>
   <html lang="en">
   <%- include ("../partials/head.ejs") %>

   <body>
     <%- include("../partials/header.ejs") %>
     <main class="register">
       <form action="/users/profile/detail/change-password?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">

         <div class="contraseña">
           <label for="password"> Ingresá tu contraseña nueva (Debe contener al menos 1 mayúscula, una minúscula y un número, y la longitud no debe ser menor a 8 caracteres). </label>
           <% if (locals.errors && errors.password) { %>
           <div class="show-error">
             <%= errors.password.msg %>
           </div>
           <% } %>
           <input type="password" name="password" id="password" placeholder="contraseña" class="inputt">

           <label for="rePassword"> Reingresá tu contraseña </label>
           <% if (locals.errors && errors.rePassword) { %>
           <div class="show-error">
             <%= errors.rePassword.msg %>
           </div>
           <% } %>
           <input type="password" name="rePassword" id="rePassword" placeholder="Repetí tu contraseña" class="inputt">

           <div class="buttons">
             <input type="submit" value="Enviar" class="btn">
             <input type="reset" value="Resetear Datos" class="btn dlt">
           </div>
       </form>
     </main>
     <%- include("../partials/footer.ejs") %>
   </body>

   </html>