<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %> 
    <main class="register">
        <h4>
            ¡REGISTRATE A CONTINUACIÓN!
        </h4>
     
        <form action="/users/register" method="POST" enctype="multipart/form-data">
            <div class="nombre">
                <label for="name">Ingresá tu nombre</label>
                <% if (locals.errors && errors.name) { %>
                    <div class="show-error"> 
                        <%= errors.name.msg %> 
                    </div>
                <% } %>
                <input type="text" name="name" id="name" placeholder="Nombre"  class="inputt" value="<%= locals.oldData ? oldData.name : null%>">
                
                </div>
                <label for="name">Ingresá tu apellido</label>
                <% if (locals.errors && errors.lastName) { %>
                    <div class="show-error"> 
                        <%= errors.lastName.msg %> 
                    </div>
                <% } %>
                <input type="text" name="lastName" id="lastName" placeholder="Apellido"  class="inputt" value="<%= locals.oldData ? oldData.lastName : null%>">
                
            </div>
            <div class="email">
                <label for="email"> Ingresá tu email  </label>
                <% if (locals.errors && errors.email) { %>
                    <div class="show-error"> 
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
                 <input type="email" name="email" id="email" placeholder="Email" class="inputt" value="<%= locals.oldData ? oldData.email : null%>" >
                
            </div>
            <div>
                <label for="UserImage">Subí una foto de perfil</label>
                <input type="file" name="userImage" id="userImage" >
                <% if (locals.errors && errors.userImage) { %>
                    <div class="show-error"> 
                        <%= errors.userImage.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="formGroup">
                <label for="birthday" class="labelTitle">Fecha de Nacimiento</label>
                <% if (locals.errors && errors.birthday) { %>
                    <div class="show-error"> 
                        <%= errors.birthday.msg %> 
                    </div>
                <% } %>
                <input type="date" name="birthday" id="birthday"  class="inputt" value="<%= locals.oldData ? oldData.birthday : null%>">
                
            </div>
            <div>
                 <label for="userType"> ¿Qué tipo de cuenta querés?  </label>
            </div>
            <% if (locals.errors && errors.userType) { %>
                <div class="show-error"> 
                    <%= errors.userType.msg %> 
                </div>
            <% } %>
            <div class="userType">
               <div class="userType1">
                <label for="userType">Comprador </label>
                <input type="radio" name="userType" id="buyer" value="buyer" <% if (locals.oldData && oldData.userType == "buyer") {%> checked <% } %>  >
               </div>
                <div class="userType1">
                    <label for="userType">Vendedor</label>
                <input type="radio" name="userType" id="seller" value="seller" <% if (locals.oldData && oldData.userType == "seller") {%> checked <% } %> >
                </div>
                
                
            </div>
            <div class="contraseña">
                <label for="password"> Ingresá tu contraseña (Debe contener al menos 1 mayúscula, una minúscula y un número, y la longitud no debe ser menor a 8 caracteres).  </label>
                <% if (locals.errors && errors.password) { %>
                    <div class="show-error"> 
                        <%= errors.password.msg %> 
                    </div>
                <% } %>
                <input type="password" name="password" id="password" placeholder="contraseña" class="inputt" >
               
                <label for="rePassword"> Reingresá tu contraseña  </label>
                <% if (locals.errors && errors.rePassword) { %>
                    <div class="show-error"> 
                        <%= errors.rePassword.msg %> 
                    </div>
                <% } %>
                <input type="password" name="rePassword" id="rePassword" placeholder="Repetí tu contraseña" class="inputt" >
                
                <div class="buttons">
                    <input type="submit" value="Enviar" class="btn">
                    <input type="reset" value="Resetear Datos" class="btn dlt">
                </div>
    </main>
    <%- include("../partials/footer.ejs") %> 
</body>
</html>