<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs") %>

<body>
  <%- include("../partials/header.ejs") %>
  <main class="register">
    <div class="register-top">
      <h4>
        ¡REGISTRATE A CONTINUACIÓN!
      </h4>
      <p>Página de registro de tiendas¿ Sos comprador o vendedor particular?</p>
      <div>
        <a href="/users/register">Registrate aquí</a>
      </div>
    </div>
    
    <form action="/users/shops/register" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="isShop" value"true">
      <div class="nombre">
        <label for="name">Ingresá el nombre de tu tienda</label>
        <% if (locals.errors && errors.name) { %>
        <div class="show-error">
          <%= errors.name.msg %>
        </div>
        <% } %>
        <input type="text" name="name" id="name" placeholder="Nombre" class="inputt" value="<%= locals.oldData ? oldData.name : null%>">

      </div>
      <div class="email">
        <label for="email"> Ingresá el email de tu tienda</label>
        <% if (locals.errors && errors.email) { %>
        <div class="show-error">
          <%= errors.email.msg %>
        </div>
        <% } %>
        <input type="email" name="email" id="email" placeholder="Email" class="inputt" value="<%= locals.oldData ? oldData.email : null%>">

      </div>
      <div>
        <label for="UserImage">Subí una foto de perfil</label>
        <input type="file" name="userImage" id="userImage">
        <% if (locals.errors && errors.userImage) { %>
        <div class="show-error">
          <%= errors.userImage.msg %>
        </div>
        <% } %>
      </div>
      
      <input type="hidden" name="userType" value="seller">
    

      
      <div class="contraseña">
        <label for="password"> Ingresá tu contraseña (Debe contener al menos 1 mayúscula, una minúscula y un número, y la longitud no debe ser menor a 8 caracteres). </label>
        <% if (locals.errors && errors.password) { %>
        <div class="show-error">
          <%= errors.password.msg %>
        </div>
        <% } %>
        <input type="password" name="password" id="password" placeholder="contraseña" class="inputt">

        <label for="rePassword"> Reingresá tu contraseña </label>
        <% if (locals.errors && errors.rePassword) { %>
        <div class="show-error">
          <%= errors.rePassword.msg %>
        </div>
        <% } %>
        <input type="password" name="rePassword" id="rePassword" placeholder="Repetí tu contraseña" class="inputt">

        <div class="buttons">
          <input type="submit" value="Enviar" class="btn">
          <input type="reset" value="Resetear Datos" class="btn dlt">
        </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>